*{ margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
}


header{ /* 타이틀 배경색 폰트 설정 */
  width: inherit;
  font-family: 'Inter', 'sans-serif';
  background-color: #2196F3;
}

footer{ /* 정보 배경색 폰트  사이즈*/
  width: inherit;
  height: 200px;
  font-size: 8px;
  line-height: 10px;
  background: #333333;
}

.smallwhite{ /* 타이틀 작은 하양 색 폰트*/
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  }

  .bigwhite{ /* 메인 화면 2 작은 하양 색 폰트*/
    font-family: 'Karantina', 'cursive';
font-size: 128px;
color: #FFFFFF;
  }

.smallblue{/* 메인 화면 1 작은 파랑 색 폰트*/
  font-size: 12px; 
  color: #2196F3;
  text-align: center;
}

  .bigblue{/* 메인 화면 1 큰 파랑 색 폰트*/
font-weight: 700;
font-size: 96px;
line-height: 100%;
    color: #2196F3;
  }

  .smallgray{/* 정보 작은 회색 폰트*/
    padding-top: 82px;
    padding-left: 43px;
    padding-right: 42px;
font-weight: 400;
font-size: 8px;
line-height: 10px;
color: #F0F0F0;
  }


  .biggray{/* 메인 화면 1 큰 회색 폰트*/
font-weight: 700;
font-size: 96px;
line-height: 100%;
color: #333333;
  }

  .hr1{/* 메인 화면 수평선 */
    height: 4px;
    background: #ffffff;
  }
  
  .hr2{/* 정보 수평선*/
    height: 2px;
    background: #D9D9D9;
  }
  